<mat-list class="lessons">
  <div class="container">
    <h3>take vs first vs single</h3>
    <label>Observable: of(1, 2, 3, 4, 5)</label>
    <button mat-raised-button class="button" (click)="executeTakeOne()">take(1)</button>
    <button mat-raised-button class="button" (click)="executeFirst()">first()</button>
    <button mat-raised-button class="button" (click)="executeSingle()">single()</button>
  </div>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
